<ion-content class="fullscreen">
  <div class="content-wrapper">
    <div class="logo">
      <img src="https://i.pinimg.com/564x/8a/93/bc/8a93bcd4be11d590b79ce1ebb3be5af2.jpg" alt="Logo">
    </div>
    <div class="login-container">
      <div class="body">
        <h2>Chat Grupal</h2>
      </div>
      <ion-item>
        <ion-label position="floating">Correo electrónico:</ion-label>
        <ion-input [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input [(ngModel)]="user.password" type="password"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="validar()" color="primary" shape="round">
        INGRESAR
      </ion-button>
    </div>
  </div>
</ion-content>

